<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1 class="display-1">Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape"  role="button">Scrape New Data</a></p>
    </div>

    <h2>Latest Mars News:</h2>
    <h4>{{mars.news_title}}</h4>
    <p class="font-weight-light">{{mars.news_p}}</p>
  </div>


  <div class="row">
  <!--First Column in this Row-->
  <div class="col-md-7">
      <div class = "container">
        <h2>Featured Image from Mars</h2>
        <a><img src= "{{mars.featured_image_url}}" alt="Featured Image" height="600" width="600"></a>

    </div>
  </div>


  <!--Second Column in this Row-->
  <div class="col-md-3">
    <div class = "box">
      <div class = "container">
        
          <h6>Mars Fact</h6>
        
        {{mars.mars_facts|safe}}


      </div>
    </div>
  </div>

 </div>

 <div class="row">
 
  <div class="col-md-5">
    <h3 style="text-align: center;"><strong>Mars Hemispheres</strong></h3>
    {% for dictionary in mars.hemisphere_image_urls%}
      <div class = "container">
        <a><img src= "{{dictionary.img_url}}" alt="hemisphere" height="400" width="400"></a>
        <div class="pb-2">
          <h5>{{dictionary.title}}</h5>
        </div>
    {% endfor %}

    </div>
  </div>
</div>


</body>
</html>